@import '../bower_components/brick-common/styles/mixins'
@import '../bower_components/brick-common/styles/params'

brick-input {
  font-family: sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  .error {
    font-size: .8125em; /* 13/16 */
    display: none;
    color: red;
  }

  input {
    font-family: sans-serif;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    padding: 0px 8px;
    font-size: 16px;
    border: 1px solid #C7C7C7;
    box-shadow: none;
    color: #333;
  }

  &.invalid {
    .error {
      display: inline;
      font-size: .5625rem;
    }
  }

  &[row] {
    flexbox();
    input {
      flex: 1;
      margin-left: 1rem;
    }
  }

  &[floating] {

    position: relative;
    label, input {
      display: block;
    }

    input {
      //border: 0;
      width: 100%;
      height: 100%;
      transition: all .3s ease-in-out;
    }

    label {
      left: 9px;
      font-size: 16px;
      position: absolute;
      top: 10px;
      //opacity: 0;
      //display: none;
      //font-family: Lucida Grande;
      color: #a9a9a9;
      transition: all .3s ease-in-out;
      //transition: color .3s linear;
    }

    &.show-label {
      label {
        top: 10px;
        z-index: 2;
        //opacity: 1;
        color: #FF4E00;
        transform: translate(-12.5%,0) scale(.75,.75);
      }
     input {
        padding-top: 24px;
        border-bottom-color:  #FF4E00;
      }
    }

    &.unhighlight-label {
      label {
        color: #999
      }
      input {
        border-bottom-color:  #C7C7C7;
      }
    }

  }

}
